@import './variables.sass'
    
body
    font-family: $main_font
    font-size: $font_size
    color: $text_dark
    // background: wheat 
    background: $bg_white
.container
    max-width: 1440px
    padding-right: 15px
    padding-left: 15px

::-webkit-scrollbar 
  width: 10px
/* Track */
::-webkit-scrollbar-track 
  background: $bg_white
/* Handle */
::-webkit-scrollbar-thumb 
  background: $orange

@media screen and (min-width: 1200px) 
    .container
        padding-left: 30px
        padding-right: 30px
@media screen and (max-width: 767px)
    body
        margin-bottom: 65px


