@import './variables'

#footer-menu
    z-index: 2
    position: relative
    background: $bg_white
    border-bottom: 1px solid $border_color
    box-shadow: 0 0 15px $shadow
    .menu-col
        .col-label
            color:  $skyblue
            font-weight: 600
            text-transform: uppercase
        .menu-list
            display: flex
            list-style: none
            flex-direction: column
            .menu-list-item
                &:not(:last-of-type)
                    margin-bottom: .75rem
                .menu-list-link
                    text-decoration: none
                    text-transform: capitalize
                    color: $text_dark
                    &:hover
                        color: $skyblue
                p
                    span
                        color: $skyblue
                        text-transform: capitalize
                        font-weight: 500
                        margin-right: 0.25rem
                        i
                            font-size: 1.2rem
                .social-links
                    display: flex
                    list-style: none
                    padding: 0
                    margin: 0
                    .social-item
                        margin-right: .75rem
                        border: 2px solid $border_color
                        width: 37.5px
                        height: 37.5px
                        display: flex
                        justify-content: center
                        align-items: center
                        overflow: hidden
                        border-radius: 50%
                        color: $skyblue
                        a
                            padding: 1rem
                            font-size: 1rem
                            color: $skyblue
                        &:hover
                            background: $skyblue
                            a
                                color: $text_white

                .newsletter-form
                    border-radius: .2rem
                    display: flex
                    overflow: hidden
                    .newsletter-email
                        width: 100%
                        background: $form_bg
                        outline: none
                        border: 0
                        padding: 0.75rem 1.5rem
                        color: $text_dark
                    button
                        border: 0
                        outline: none
                        color: $text_white
                        padding: 0 1.5rem
                        background: $orange
                        display: flex
                        justify-content: center
                        align-items: center
                        transition: linear .1s
                        &:hover
                            background: $skyblue
                        i
                            font-size: 1.25rem
                .payment-methods
                    display: flex
                    list-style: none
                    padding: 0
                    margin: 0
                    margin-top: -1rem
                    .payment
                        color: $text_dark
                        font-size: 1.5rem
                        margin-right: 1.25rem
                        transition: .1s
                        cursor: pointer
                        &:hover
                            color: $skyblue