@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap")

$main_font : 'poppins'
$font_size : 14px
$text_white : #fff
$bg_white : #fff
$text_dark : #444
$bg_dark : #444
$orange : #f73834
$skyblue : #2c709b
$shadow: rgba(0,0,0,0.25)
$border_color: #dddddd
$form_bg: #EFEFEF